/* Remember that a CSS reset is done by selecting asterisk 
and setting padding and margin to 0. Border is not required */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: greysilver;
}

.table {
background: rgb(98, 43, 43);
margin: 50% auto;
height: 40vh;
width: 40vh;
}

.game-board {

}

.winner-text {

}

