/* Remember that a CSS reset is done by selecting asterisk 
and setting padding and margin to 0. Border is not required */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: greysilver;
}



