/* Remember that a CSS reset is done by selecting asterisk 
and setting padding and margin to 0. Border is not required */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: greysilver;
}

body {
    height: 100%;
}

h1 {
    text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  width: 25%;
  height: 30px;
}

.table {
background: rgb(148, 105, 105);
margin: 100px auto;
height: 450px;
width: 400px;
}

.game-board {
    width: 400px;
}


.winner-text {

}

